{% extends "modelo.html" %}
{% block conteudo %}
    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Lista de Tarefas</h2>

    <table>
        <tbody>
            <tr>
                <td>Segunda</td>
                <td>Descrição da Tarefa </td>
                <td>Em Andamento</td>
                <td>
                    <button>Editar</button>
                    <button>Excluir</button>
                </td>
            </tr>
            <tr>
                <td>Terça</td>
                <td>Descrição da Tarefa 2</td>
                <td>Concluída</td>
                <td>
                    <button>Editar</button>
                    <button>Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>

{% endblock %}